.panel {
  border-radius: 10px;
  box-shadow: 0px 6px 15px 0px #8e8e8e;
  background-color: #ffffff;
}
.bg {
  flex-direction: column;
}

.homePanel {
  margin-right: 10px;
  height: 400px;
  padding-top: 25px;
  width: 350px;
}

.gameRow {
  width: 100%;
  flex-direction: row;
}
.gameRow .teamCol {
  height: 80vh;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.teamCol > :first-child {
  margin-bottom: 20px;
}
.gameRow .gameCol {
  margin-left: 30px;
}
.gameCol .gamePanel {
  flex: 1;
  padding-top: 10px;
  margin-bottom: 20px;
  height: 100%;
}

.declareRow:not(:last-child) {
  margin-bottom: 20px;
}

.teamPanel {
  flex: 1;
  height: 50%;
}
.teamPanel > .teamHeader {
  width: 100%;
  padding: 15px 15px 0 15px;
  height: 20%;
}
.teamPanel > .teamHeader > div:first-child {
  float: left;
  font-size: 2em;
}
.teamPanel > .teamHeader > div:nth-child(2) {
  float: right;
  font-size: 2em;
}
.teamPanel > .members {
  width: 100%;
  height: 80%;
  padding: 10px 25px 0 25px;
}
.teamPanel .ant-list-item {
  padding: 3px 0;
}
.teamPanel .declared-sets {
  width: 100%;
  display: block;
  font-size: 1em;
}

.buttonrow > button {
  width: 150px;
  text-align: center;
  border-radius: 7.5px;
}

.buttonrow > button:not(:last-child) {
  margin-right: 20px;
}

.log {
  margin-bottom: 5%;
  text-align: center;
}

.buttonrow {
  margin-top: 5%;
}

h1.team-assign {
  margin-bottom: 2vh;
  color: black;
  text-decoration: underline;
  font-weight: 200;
}

.assign-panel {
  text-align: center;
  padding: 10px 0;
  height: 50vh;
  margin: 2vw;
  width: 25vw;
  overflow-y: scroll;
}
.assign-panel:first-child {
  margin-left: 8.3333vw;
}
.assign-panel::-webkit-scrollbar {
  width: 0 !important;
}

.assign-name {
  border-radius: 10px;
  box-shadow: 0px 6px 15px 0px #8e8e8e;
  background-color: #3f4757;
  color: white;
  font-size: 20px;
  width: 75%;
  margin: 10px auto;
  padding: 10px 0;
}

.assignButton {
  width: 200px;
  text-align: center;
  border-radius: 7.5px;
  margin-top: 2vh;
}

@media (max-width: 767px) {
  .teamCol {
    display: inline !important;
    width: 100%;
    height: 35vh !important;
    margin: 0 30px;
  }
  .teamPanel {
    display: inline-flex !important;
    width: 48%;
    height: 100%;
  }
  .teamPanel:first-child {
    margin-right: 4%;
  }
  .gameCol {
    width: 100%;
    margin: 20px 30px;
    height: 47vh;
  }
  .homePanel {
    width: 275px;
  }
  .log {
    margin-bottom: 2%;
  }
}
@media (max-width: 575px) {
  .homePanel {
    width: 90%;
    margin: 0px 5% 20px 5%;
  }
  .homeCol {
    width: 100%;
  }
  .homeImg {
    width: 80vw;
  }

  .buttonrow > button {
    width: 120px;
    text-align: center;
    border-radius: 7.5px;
  }
  .buttonrow > button:not(:last-child) {
    margin-right: 3px;
  }
}
